*{

  margin:0;
  padding:0;
  box-sizing: border-box;

}
body{
  
background: #2e2e39;
display: flex;
justify-content: center;
margin:50px 0px;
}

h1{

font-family: 'Amatic SC', cursive;
font-size: 50px;
  color:white;
  text-align: center;
  margin-bottom: 10px;
}

#ex1 {
  font-family: 'Inter', sans-serif;
color:white;
  border:3px solid #60cf8c;
  border-radius: 20px;
  padding:15px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

 p{

  padding:10px;
}

 input{

  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #60cf8c;
  border-radius: 10px;
  padding:6px;
  color:white;
}

 button{

  background-color: #60cf8c;
  padding: 5px;
  border:none;
  border-radius: 8px;
  font-size: 15px;
  margin-left:10px;
  transition:0.3s;
}

 button:hover{

  font-size: 15.5px;
}

/* exercicio 2 */

#ex2 {
  font-family: 'Inter', sans-serif;
color:white;
  border:3px solid #60cf8c;
  border-radius: 20px;
  padding:15px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

/* exercicio 3 */

#ex3 {
  font-family: 'Inter', sans-serif;
color:white;
  border:3px solid #60cf8c;
  border-radius: 20px;
  padding:15px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

/* exercicio 4 */

#ex4 {
  font-family: 'Inter', sans-serif;
color:white;
  border:3px solid #60cf8c;
  border-radius: 20px;
  padding:15px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

/* exercicio 5 */

#ex5 {
  font-family: 'Inter', sans-serif;
color:white;
  border:3px solid #60cf8c;
  border-radius: 20px;
  padding:15px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

/* exercicio 6 */

#ex6 {
  font-family: 'Inter', sans-serif;
color:white;
  border:3px solid #60cf8c;
  border-radius: 20px;
  padding:15px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

/* exercicio 7 */

#ex7 {
  font-family: 'Inter', sans-serif;
color:white;
  border:3px solid #60cf8c;
  border-radius: 20px;
  padding:15px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
}
/* exercicio 8 */

#ex8 {
  font-family: 'Inter', sans-serif;
color:white;
  border:3px solid #60cf8c;
  border-radius: 20px;
  padding:15px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

/* exercicio 9 */

#ex9 {
  font-family: 'Inter', sans-serif;
color:white;
  border:3px solid #60cf8c;
  border-radius: 20px;
  padding:15px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

/* exercicio 10 */

#ex10 {
  font-family: 'Inter', sans-serif;
color:white;
  border:3px solid #60cf8c;
  border-radius: 20px;
  padding:15px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

/* exercicio 11 */
#exe11{

margin-top:75px;
}
#ex11{

  
font-family:"Inter", sans-serif;
color:white;
border:3px solid #60cf8c;
border-radius:20px;
padding:15px;
background: rgba(0, 0, 0, 0.1);
font-size:20px;
}

#fsalary{

  margin-top: 10px;
  width:350px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}